main {
    background: white;
}

#wrapwrap {
    padding-left: 20%;
    padding-right: 20%;
}

body {
    background: url('https://www.biovum.de/dam-biovum/img/default_background.jpg?width=256&height=192');
    background-attachment: fixed;
    background-size: cover;
}

#footer-text {
    color: white;
}

